<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <% if(locals.secret){ %>
        <h1 class="display-3">You've Discovered My Secret!</h1>
        <p class="secret-text">
        <p class="secret-text"><%= locals.secret%></p>
        </p>
      <% }else{ %>
        <h1 class="display-3 fs-smaller" >Psst! Got a secret ? Fill in the secret text column!</h1>
      <%}%>
      <hr>
      <a class="btn btn-light btn-lg" href="/logout" role="button" >Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button" >submit a secret</a>
    </div>
  </div>

  <%- include('partials/footer') %>